/* Footer Container */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Reach Us */
.reachus, .social, .joinourpremium {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.reachus h3, .social h3, .joinourpremium h3 {
    font-size: 1.5rem;
}

.reachus p, .joinourpremium p {
    font-size: 1rem;
}

/* Social Icons */
.social ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social ul li {
    margin: 10px 0;
    padding: 0 10px;
}

.social a i {
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s ease;
}

.social a i:hover {
    color: #007bff; /* Change to your desired hover color */
}

/* Join Our Premium Button */
.joinourpremium .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.joinourpremium .btn:hover {
    background-color: #0056b3; /* Change to your desired hover color */
}


.legal ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.legal ul li {
    margin: 10px 0;
}

.legal a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .reachus, .social, .joinourpremium {
        flex-basis: 50%;
    }
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.btns{
    display: flex;
    justify-content: center;

}

.phonenumber{
    display: flex;
    justify-content: center;
    
}

.phonee{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 10px;
}

.reachus .fa{
    padding-right: 10px;
    justify-content: center;
}

.companylogo{
    display: flex;
    justify-content: center;
    margin: 3%;

}

hr{
    color: white solid 1px;
    margin: 20px;
}