/* body{
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.jpg");
}

.gallery{

    background-color: white;
    overflow: auto;
    white-space: nowrap;
    margin: 20px;
    padding: 10px;
}

.gallery img{
    padding: 10px;
    width: 600px;
    height: auto;
} */

body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.jpg");
}

.gallery {
    background-color: white;
    overflow: auto; 
    white-space: nowrap;
    margin: 20px;
    padding: 10px;
     /* Animation for scrolling */
}

.gallery img {
    padding: 10px;
    width: 600px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    animation: scrollGallery 40s linear infinite;
}

.gallery:hover{
    transform: scale(1.05); 
}

/* Keyframes for scrolling animation */
@keyframes scrollGallery {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Translate gallery to the left */
    }
}
